@import "~/assets/style/values.scss";

header {
	margin: 0 0 10px 0;
	background: #fff;
	
	// Elements

	.branding {
		h1 {
			font-size: 3em;
			font-weight: 700;
			text-transform: uppercase;
			margin: 0 0 5px 0;
		}

		.tagline {
			font-weight: 300;
			font-size: 0.9em;
			color: $textColorLight;
			margin: 0;
		}
	}
}