@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/mobile.scss";

header.page-header {
	
	display: flex;
	margin-bottom: 10px;
	box-sizing: border-box;
	width: 100%;
	
	> * {
		flex: auto;
		justify-content: space-between;
	}

	@include mobile("phone") {
		.branding {
			display: none;
		}
	}

}