@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/mobile.scss";

header {
	
	display: flex;
	margin-bottom: 10px;
	background: #fff;
	box-sizing: border-box;
	width: 100%;
	
	> * {
		flex: auto;
		justify-content: space-between;
	}

	@include mobile() {
		.branding {
			display: none;
		}

		nav {
			flex-basis: 100%;
			padding-bottom: 12px;
			border-bottom: $dividerBorder;
		}
	}

}