@import "/styles/values/all"
	
.closure
	$closureSpacing: 1rem

	@include inlayed

	margin-top: $pageContentSpacing
	text-align: center
	color: $textColorFaded

	> div
		@include listMargin($closureSpacing)