@import "@common/styles/values/all"

.block
	$interContentSpacing: 4rem
	$interSubContentSpacing: 2rem

	> header
		@include inlayed

		h1
			@include headingFont
			font-size: $pageHeadingFontSize
			text-align: center

			@include breakpoint($anyMobile)
				font-size: $pageHeadingFontSizeMobile

	> main
		margin-top: $interContentSpacing

		.abstract
			@include inlayedText
			text-align: center
			max-width: 29rem
			margin: 0 auto

		.links
			margin: $interSubContentSpacing auto 0 auto
			width: fit-content

			.link
				@include breakpoint($desktop)
					display: inline-block
					@include horizontalListMargin(2.5rem)

				@include breakpoint($tablet)
					display: inline-block
					@include horizontalListMargin(1.5rem)

				@include breakpoint($phone)
					display: inline-block
					@include horizontalListMargin(1.5rem)

					&:not(:first-child, :last-child)
						display: none
						

					