@import "/styles/values/all"
	
.line
	font-family: $headingFont
	font-size: $highlightFontSize
	text-align: center
	margin: $pageSubContentSpacing 0

	@include breakpoint($phone)
		font-size: $highlightFontSizeMobile