@import "@common/styles/values/all"
	
.line
	margin: $pageSubContentSpacing 0

	@include subTitleFont
	font-size: $highlightFontSize
	text-align: center
	line-height: 2.5rem

	@include breakpoint($anyMobile)
		font-size: $highlightFontSizeMobile