@import "~/assets/style/values.scss";

header {

	.branding {
		.title {
			font-size: $fontSizeHeadingDefault;
			font-weight: 700;
			color: $textColorHeading;
			text-transform: uppercase;
			margin: 0 0 5px 0;
		}

		.tagline {
			font-size: $fontSizeDefaultBold;
			color: $textColorLight;
			margin: 0;
		}
	}

}