# Dependencies
**/node_modules

# Yarn
.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
#!**/.yarn/sdks
!**/.yarn/versions

# Frameworks
.next
.nuxt
out
build

# Development
*.log

# Locals
*.private.*
.env.local
.env.development
.env.production
.env.test.local

# Demo
demo-*.ts*
