# Dependencies
node_modules

# Frameworks
.next/
.nuxt/
out/
build/

# Environment
.vscode

# Development
*.log

# Locals
*.private.*
.env.local
.env.development
.env.production
.env.test.local

# Demo
demo-*.ts*