@import "/styles/values/all"

.table
	@include inlayed

	margin-top: 3.75rem
	
	@include breakpoint($desktop)
		padding-left: 1.6rem + $inlayPadding
		padding-right: $inlayPadding

	@include breakpoint($tablet)
		padding-left: 1.6rem + $inlayPaddingTablet
		padding-right: $inlayPaddingTablet

	@include breakpoint($phone)
		padding-left: 1.6rem + $inlayPaddingPhone
		padding-right: $inlayPaddingPhone

	> main
		margin-top: $pageSubContentSpacing
	
		ol > li
			@include listMargin(0.35rem)

			@include breakpoint($anyMobile)
				@include listMargin(1.5rem)