@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/blip-element.scss";
@import "~/assets/style/life-kind-colors.scss";
@import "~/assets/style/mixins/mobile.scss";

.work-overview-page {

	.work-overview {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 25px;
		grid-row-gap: 35px;

		@include mobile() {
			grid-template-columns: 1fr;
			grid-row-gap: 15px;
		}

		> .work-item {
			.image-holder {	
				background: #efefef;
				overflow: hidden;
				height: 400px;

				img {
					min-width: 100%;
					height: 100%;
				}

				@include mobile() {
					height: 200px;
				}
			}

			.item-data {
				$blipSize: 11px;
				$blipPadding: 7px;
				$childDividerSpacing: 15px;

				display: flex;
				margin: 16px 0 6px 0;
				font-size: $fontSizeDefault;

				@include mobile() {
					margin: 12px 0 3px 0;
				}

				> * {
					flex: auto;
					max-width: fit-content;
				}

				.blip {
					flex: 0 $blipSize;
					align-self: center;
					padding-right: $blipPadding;

					@include blipElement($blipSize);
				}

				.format, .contents {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.format {
					&:after {
						content: "|";
						padding: 0 $childDividerSpacing;
					}
				}
			}

			.item-name {
				h2 {
					font-size: $fontSizeLabelDefault;
					padding-right: 20px;
				}
			}
		}
	}

}