@import "/styles/values/all"

.cover
	position: relative
	display: block
	width: 100%
	height: 84vh
	min-height: 55rem
	max-height: 75rem
	overflow: hidden

	@include breakpoint($anyMobile)
		min-height: unset
		height: 88vh

	.image
		@include coverObject
		object-position: 50% 62%