@import "/styles/values/all"

.cover
	display: block
	width: 100%
	min-height: 857px
	height: 72vh
	overflow: hidden

	@include breakpoint($anyMobile)
		min-height: unset
		height: 92vh

	> img
		@include coverObject
		object-position: 50% 100%