@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/mobile.scss";

footer {

	$sectionHeaderMargin: 25px;
	$sectionInterItemSpacing: 10px;

	height: max-content;
	
	.wrap {
		box-sizing: border-box;

		> .inlay {
			width: 100%;
			border-top: $dividerBorder;
			padding: 50px 0;
			display: flex;

			@include mobile() {
				display: block;
				padding: 25px 0 5px 0;

				> section {
					flex: 0 100%;
					max-width: none;
					width: 100%;
				}
			}

			// All Sections

			> section {
				flex: 1;
				overflow: hidden;

				@include mobile() {
					margin-bottom: 10px;
				}

				header {
					font-weight: 700;
					font-size: $fontSizeLabelDefault;
					margin-bottom: $sectionHeaderMargin;

					@include mobile() {
						margin-bottom: $sectionHeaderMargin * 0.5;
					}
				}

				main {
					> a > div, > div {
						margin-bottom: $sectionInterItemSpacing;
					}
				}
			}

			// Individual Sections

			section.personal, section.further {
				max-width: 22%;

				@include mobile() {
					max-width: none;
				}
			}

			section.map main {
				.route {
					display: flex;
					max-width: 250px;

					> * {
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}

					> .name {
						flex: 0 50%;
					}

					> .address {
						flex: 0 50%;
						color: $textColorVeryLight;
					}
				}

				a.nuxt-link-exact-active .route {
					> .address {
						color: unset;
					}
				}
			}

			section.public main {
				.platform-link {
					display: flex;

					> * {
						flex: 0;
					}

					.sprite {
						$size: 18px;
						$itemSpacing: 10px;

						flex-basis: $size + $itemSpacing;
						position: relative;

						svg {
							position: absolute;
							width: $size;
							height: $size;
							fill: $textColor;
							z-index: -1;
						}
					}
				}
			}
		}
	}

}