// Globals
	
@import "/styles/values/fonts"
@import "/styles/values/spacing"
@import "/styles/values/colors"
	
html, body
	padding: 0
	margin: 0

body
	@include antiAliasedFont
	font-family: "Work Sans"
	font-weight: 400
	color: $textColor

a
	color: unset
	text-decoration: unset
	cursor: pointer

	&:not([href])
		user-select: none

h1, h2, h3, h4, h5, h6
	font-weight: unset
	margin: 0
	padding: 0

ul, ol
	list-style: none
	padding: 0

p
	margin: 0
	line-height: $paragraphLineHeight