// Globals

@import "/styles/base/font-imports"
@import "/styles/values/all"

html
	margin: 0
	padding: env(safe-area-inset)
	
	font-size: 16px
	-webkit-text-size-adjust: none

	@include breakpoint($anyMobile)
		font-size: 12px

	@include breakpoint($tablet)
		font-size: 14px

body
	padding: 0
	margin: 0
	min-width: 320px

	@include antiAliasedFont
	@include defaultFont
	color: $textColor

a
	color: unset
	text-decoration: unset
	cursor: pointer

	&:not([href])
		user-select: none

h1, h2, h3, h4, h5, h6
	font-weight: unset
	margin: 0
	padding: 0

ul, ol, menu
	list-style: none
	padding: 0

pre, code, figure, menu
	margin: 0
	padding: 0

p
	margin: 0
	line-height: $paragraphLineHeight

button
	display: block
	appearance: none
	color: unset
	background: unset
	font-family: unset
	font-size: unset
	border: unset
	margin: 0
	padding: 0
	cursor: pointer
	text-align: unset

	&:hover, &:active
		color: unset