@import "/styles/values/all"

.cover
	position: relative
	width: 100%
	height: 82vh
	overflow: hidden

	@include breakpoint($anyMobile)
		height: 88vh

	img
		z-index: 1
		@include coverObject

	.heading
		h1
			position: relative
			z-index: 2
			font-family: $headingFont
			font-weight: 800
			font-size: 5rem
			text-align: center

			color: $textColorOnDark
			text-shadow: 0.16rem 0.16rem 0 rgba(0, 0, 0, 0.5)

			@include breakpoint($phone)
				font-size: max(2.7rem, 8.5vw)

			@include breakpoint($tablet)
				font-size: 4.5rem

	.subheading
		h2
			position: relative
			top: 5rem

			font-family: $headingFont
			font-weight: 300
			font-size: 1.1rem
			text-align: center

			color: $textColorOnDark
			text-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.5)

			@include breakpoint($phone)	
				top: max(4.75rem, calc(2vw + 4rem))
				font-size: 1.4rem
				padding: 0 4rem

			@include breakpoint($tablet)
				font-size: 1.35rem
		
	.centered
		position: absolute
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		height: 100%