@import "/styles/values/all"

.cover
	position: relative

	.image
		@include coverImageWithBreakpoints()
		z-index: 0

	.headings
		position: absolute

		display: flex
		justify-content: center
		align-items: center
		width: 100%
		height: 100%

		.inlay
			position: relative

			@include breakpoint($desktop)
				top: -5rem

			@include breakpoint($tablet)
				top: -3.5rem

			@include breakpoint($phone)
				top: -2.5rem

			h1
				position: relative
				z-index: 2

				@include titleFont
				text-align: center

				color: $textColorOnDark
				text-shadow: 0.16rem 0.16rem 0 rgba(0, 0, 0, 0.5)

				@include breakpoint($desktop)
					font-size: 5rem

				@include breakpoint($tablet)
					font-size: 4.5rem

				@include breakpoint($phone)
					font-size: max(2.75rem, 8.5vw)
					padding: 0 1.25rem

			h2
				position: relative
				z-index: 2

				@include subTitleFont
				text-align: center

				color: $textColorOnDark
				text-shadow: 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.5)

				@include breakpoint($desktop)
					font-size: 1.1rem
					margin-top: 1.5rem

				@include breakpoint($tablet)
					font-size: 1.25rem
					margin-top: 1rem

				@include breakpoint($phone)	
					font-size: 1.3rem
					margin-top: max(0rem, calc(1.5vw + 0.35rem))
					padding: 0 1.5rem