@import "/styles/values/all"
	
$horizontalSpacing: 1.5rem
$verticalSpacing: 0.85rem

.block
	input
		padding: $verticalSpacing $horizontalSpacing

		@include elementHeadingFont
		font-size: $elementHeadingFontSize