@import "/styles/values/all"
	
$horizontalSpacing: 1.25rem
$verticalSpacing: 0.85rem

.block
	input
		appearance: none
		border: none
		margin: 0
		padding: $verticalSpacing $horizontalSpacing
		background: $elementBackgroundColor
		width: 100%
		box-sizing: border-box

		@include elementFont
		font-size: 1rem

		&[readOnly]
			color: $textColorFaded