@import "/styles/values/all"

.notice
	$positionSpacing: 0.5rem
	$symbolSize: 3.0rem
	$shadowColor: rgba(0, 0, 0, 0.35)
	$highlightBodyColor: rgba(10, 10, 10, 0.15)

	display: none

	@include breakpoint($anyMobile)
		@media screen and (orientation: portrait)
			display: unset
	
	position: absolute
	bottom: $positionSpacing
	right: $positionSpacing
	z-index: 1

	opacity: 0.7
	background: $clear
	padding: 0.7rem 1.0rem
	width: fit-content

	transition: opacity 0.5s ease-in-out, background 0.5s ease-in-out

	&.highlighted
		background: $highlightBodyColor
		opacity: 1.0

	.symbol
		$shadowOffset: 0.15rem

		display: block
		fill: $textColorOnDark
		width: $symbolSize
		height: $symbolSize
		filter: drop-shadow($shadowOffset $shadowOffset 0 $shadowColor)
		margin: 0 auto

	.message
		$shadowOffset: 0.125rem

		color: $textColorOnDark
		text-shadow: $shadowOffset $shadowOffset 0 $shadowColor
		width: fit-content
		margin: 0.25rem auto 0 auto
