@import "/styles/values/spacing"
	
$firstSectionSpacing: $pageSubContentSpacing * 1.45
$secondSectionSpacing: $pageSubContentSpacing * 0.68
$thirdSectionSpacing: $pageSubContentSpacing * 0.32

$headingAsideSpacing: $thirdSectionSpacing
$paragraphSpacing: $thirdSectionSpacing

$lineHeight: 1.45