@import "./legal-fonts"
@import "./legal-spacing"

.block
	// Fonts
	.heading
		@include legalHeadingFont
		
	.subHeading
		@include legalSubHeadingFont
		
	.headingSubtitle
		@include legalAsideFont

	p, ul
		@include legalParagraphFont

	// Block-Specific Spacing
	&.headingBlock, &.subHeadingBlock, &.textBlock
		> .heading
			margin-top: $firstSectionSpacing

		> .subHeading
			margin-top: $secondSectionSpacing

		> .headingSubtitle
			margin-top: $headingAsideSpacing

		> p
			margin-top: $paragraphSpacing

	&.textBlock
		@include wrappingFont
		
		ul
			padding-left: 1rem

			li
				list-style: circle

	&.subHeadingBlock
		> .subHeading
			margin-top: $firstSectionSpacing

	&.contactBlock
		> div
			margin-top: $thirdSectionSpacing
			@include legalContactBlockFont
	a
		text-decoration: underline