@import "./legal-fonts"
@import "./legal-spacing"

.block
	// Fonts
	.heading
		@include headingFont
		
	.subHeading
		@include subHeadingFont
		
	.headingSubtitle
		@include asideFont

	p, ul
		@include paragraphFont

	// Block-Specific Spacing
	&.headingBlock, &.subHeadingBlock, &.textBlock
		> .heading
			margin-top: $firstSectionSpacing
		> .subHeading
			margin-top: $secondSectionSpacing
		> .headingSubtitle
			margin-top: $headingAsideSpacing
		> p
			margin-top: $paragraphSpacing

	&.textBlock
		hyphens: auto
		
		ul
			padding-left: 1rem

			li
				list-style: circle

	&.subHeadingBlock
		> .subHeading
			margin-top: $firstSectionSpacing

	&.contactBlock
		> div
			margin-top: $secondSectionSpacing
			@include contactBlockFont

	a
		text-decoration: underline