@import "@common/styles/values/spacing"
@import "@common/styles/values/breakpoints"

$baseSpacing: $pageSubContentSpacing

$firstSectionSpacing: $baseSpacing * 1.65
$secondSectionSpacing: $baseSpacing * 1.0
$thirdSectionSpacing: $baseSpacing * 0.45

$headingAsideSpacing: $thirdSectionSpacing
$paragraphSpacing: $thirdSectionSpacing

$lineHeight: 1.45