@import "/styles/values/fonts"
@import "/styles/values/spacing"
	
@mixin headingFont
	font-family: $headingFont
	font-weight: 700
	font-size: $elementArticleHeadingFontSize

@mixin subHeadingFont
	font-family: $headingFont
	font-weight: 300
	font-size: $elementArticleSubHeadingFontSize
	
@mixin asideFont
	font-family: $headingFont
	font-size: $elementArticleSubHeadingFontSize

@mixin paragraphFont
	font-family: $paragraphFont
	font-size: $elementTextFontSize
	line-height: $lineHeight
	text-align: justify

@mixin contactBlockFont
	font-family: $paragraphFont
	font-size: $elementTextFontSize
	line-height: $lineHeight