@import "/styles/values/all"
	
.block
	@include inlayed

	.window
		margin: 0 8%

		code
			display: block
			margin: 2rem 2.25rem

			@include codeFont
			color: $textColorOnDark

			.lineNumber
				color: $textColorFadedOnDark
				padding-right: 1.85rem
				white-space: pre

			.lineContent
				white-space: pre