@import "/styles/values/all"
	
.collection
	position: relative

	@include breakpoint($anyDesktop)
		@include inlayed

	@include breakpoint($anyMobile)
		margin: 0 2rem

	ol
		display: grid
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr
		grid-template-rows: auto
		gap: 0.5rem
		grid-auto-flow: row

		> li
			position: relative
			height: 15rem
			background: #fafafa

			button
				display: block
				appearance: none
				position: absolute
				inset: 0
				height: 100%
				width: 100%
				background: transparent

		@include breakpoint($phone)
			grid-template-columns: 1fr 1fr

	.colorInput
		position: absolute
		inset: 0
		visibility: hidden