@font-face {
	font-display: swap;
	font-family: "Paralucent";
	src: url("~assets/fonts/paralucent/Paralucent-700-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-display: swap;
	font-family: "Paralucent";
	src: url("~assets/fonts/paralucent/Paralucent-500-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-display: swap;
	font-family: "Paralucent";
	src: url("~assets/fonts/paralucent/Paralucent-300-Regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-display: swap;
	font-family: "Paralucent";
	src: url("~assets/fonts/paralucent/Paralucent-300-Italic.woff2") format("woff2");
	font-style: italic;
	font-weight: 300;
}