@import "@/assets/style/mixins/mobile.scss";

.imprint-page {

	.imprints {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 75px;
		width: 100%;

		@include mobile("factor-xs") {
			grid-template-columns: 1fr;
		}

		> article {
			text-align: justify;

			@include mobile("factor-xs") {
				margin-bottom: 45px;

				h2 {
					padding-right: 15%;
				}
			}
		}
	}

}