@import "/styles/values/all"

.footerSection
	$headerToItemsSpacing: 3rem
	$headerToItemsSpacingMobile: 1.25rem

	$spriteSize: 1rem
	$spriteSizeMobile: 1.1rem
	$spriteToTextSpacing: 1rem
	$spriteToTextSpacingMobile: 1.25rem

	.footerHeader
		@include elementAccentedHeadingFont
		font-size: 1.75rem
		text-transform: uppercase
		margin-bottom: $headerToItemsSpacing

		@include breakpoint($anyMobile)
			margin-bottom: $headerToItemsSpacingMobile

	.footerItem
		display: flex
		margin: 0 0 0.75rem 0

		.sprite
			height: $spriteSize
			width: $spriteSize

			flex: 0 0 $spriteSize
			padding: 0.2rem 0 0 0
			margin: 0 $spriteToTextSpacing 0 0

			@include breakpoint($anyMobile)
				flex: 0 0 $spriteSizeMobile
				height: $spriteSizeMobile
				width: $spriteSizeMobile

				transform: translateY(-0.05rem)
				margin-right: $spriteToTextSpacingMobile

		.text, .link
			font-size: 0.95rem
			line-height: 1.5rem

			@include breakpoint($anyMobile)
				font-size: 1.0rem

		.text
			@include elementFont

		.link
			@include linkFont
			@include ellipsized
		
		&.active
			opacity: $activeElementFadeOpacity

		&.linkItem
			.text
				min-width: 5.5rem
				margin-right: 1.4rem