@import "/styles/values/all"

.themePreview
	$themeNameFontSize: 1.4rem
	$themeDescriptionFontSize: 1rem

	width: min-content			// `min-content` uses color row
	overflow: hidden

	ol.colorRow
		display: flex

		> li
			$colorSize: 2.75rem
			width: $colorSize
			height: $colorSize

	.name
		@include elementHeadingFont
		font-size: $themeNameFontSize
		margin-top: 1rem

	.description
		@include paragraphFont
		font-size: $themeDescriptionFontSize
		line-height: $paragraphLineHeight
		margin-top: 1.6rem
		padding-right: 10%