@import "/styles/values/fonts"
@import "/styles/values/spacing"
@import "/styles/values/colors"
	
.page
	padding-bottom: $pageSpacing

	> header
		.title
			margin-top: $pageSpacing

	.divider
		margin-top: $pageSpacing
		background: #b07cb1

	> main
		margin-top: $pageSpacing