@import "/styles/values/all"	

.page
	$interContentSpacing: $pageSpacing
	$interContentSpacingMobile: $pageSpacing * 0.85
	$interContentBlockSpacing: $pageContentSpacing
	$interContentBlockSpacingMobile: $pageContentSpacing * 0.85

	padding-bottom: $interContentSpacing

	@include breakpoint($anyMobile)
		padding-bottom: $interContentSpacingMobile


	> header
		.title
			margin-top: $interContentSpacing

			@include breakpoint($anyMobile)
				margin-top: $interContentSpacingMobile

	.divider
		margin-top: $interContentSpacing
		background: #b07cb1

		@include breakpoint($anyMobile)
			margin-top: $interContentSpacingMobile

	> main
		margin-top: $interContentSpacing

		@include breakpoint($anyMobile)
			margin-top: $interContentSpacingMobile

		> section
			@include listMargin($interContentBlockSpacing)

			@include breakpoint($anyMobile)
				@include listMargin($interContentBlockSpacingMobile)