@import "@common/styles/values/all"

.block
	$inset: $pageContentSpacing
	padding: $inset 0 $inset 0
	background: #0f0f0f
	
	.inlay
		@include inlayed

		ol
			display: flex
			margin: 0
			flex-wrap: wrap
			gap: 1.5rem
			justify-content: center

			> li
				$size: 10rem
				width: $size
				height: $size
				flex: 0 0 $size

				overflow: hidden
				border: 0.25rem solid rgba(255, 255, 255, 0.85)

				.image
					@include coverObject
					display: block
					object-position: 50% 62%

					opacity: 0.95
					background: $elementBackgroundColor
					mix-blend-mode: screen