@import "@common/styles/values/all"
	
.block
	@include inlayed

	h2
		@include headingFont
		font-size: $pageSubHeadingFontSize
		text-align: center

		@include breakpoint($anyMobile)
			font-size: $pageSubHeadingFontSizeMobile