@import "/styles/values/all"
	
.block
	$paragraphSpacing: $pageSubContentSpacing * 0.8

	@include inlayedText
	@include wrappingFont

	p, ul
		@include listMargin($paragraphSpacing)

	a
		text-decoration: underline

	code		
		position: relative

		@include inlineOverlay
			background: $codeInlineBackgroundColor
			padding: 0.25rem 0

		&[data-appearance="code"]
			@include codeFont
			display: inline-block
			padding: 0 0.25rem
			line-height: $paragraphLineHeight

		&[data-appearance="code-block"]
			@include codeFont
			display: block
			padding: 1.75rem 1.0rem
			line-height: $paragraphLineHeight

			@include nonWrappingFont
			white-space: pre-wrap
			word-break: break-all

		&[data-appearance="keyboard-shortcut"]
			@include systemSymbolsFont
			font-size: 1.2rem
			line-height: 1.4
			letter-spacing: 0.15rem
			padding: 0 0.25rem

	h3
		@include headingFont
		font-size: $elementArticleHeadingFontSize

		@include breakpoint($anyMobile)
			font-size: $elementArticleHeadingFontSizeMobile

		&:not(:first-child)
			margin-top: 3.5rem

	h4
		font-size: $elementArticleSubHeadingFontSize

		@include breakpoint($anyMobile)
			font-size: $elementArticleSubHeadingFontSizeMobile

		&:not(:first-child)
			margin-top: 3rem

	ul
		padding-left: 2.5rem
		list-style: square
		line-height: $paragraphLineHeight