@import "/styles/values/all"
	
.block
	$paragraphSpacing: $pageSubContentSpacing * 0.8

	@include inlayedText
	@include wrappingFont

	p
		@include listMargin($paragraphSpacing)

	a
		text-decoration: underline

	code
		position: relative
		display: inline-block
		padding: 0 0.25rem
		
		@include codeFont

		@include inlineOverlay
			background: $codeInlineBackgroundColor
			padding: 0.25rem 0

	h3
		@include headingFont
		font-size: $elementArticleHeadingFontSize

		@include breakpoint($anyMobile)
			font-size: $elementArticleHeadingFontSizeMobile

	h4
		font-size: $elementArticleSubHeadingFontSize

		@include breakpoint($anyMobile)
			font-size: $elementArticleSubHeadingFontSizeMobile