@import "/styles/values/all"

.block
	@include inlayedText

	@include elementAccentedFont
	font-size: 1.5rem
	font-style: italic
	
	> *
		line-height: 1.85

	strong
		$highlightColor: yellow
		$highlightSpacing: 0.4rem
		$highlightSpacingAspect: 1.0

		$highlightHeightPercentage: 60%
		$highlightOffsetPercentage: 2.5%
		$highlightSkew: -12deg
		
		font-weight: inherit
		white-space: pre-wrap
		box-decoration-break: clone

		> span
			position: relative
			display: inline-block

			@include inlineOverlay($highlightHeightPercentage, $highlightOffsetPercentage, $highlightSkew)
				background: $highlightColor
				padding: ($highlightSpacing) ($highlightSpacing * $highlightSpacingAspect)

	.quotes
		font-size: 2rem