@import "/styles/values/all"
	
.block
	$paragraphSpacing: $pageSubContentSpacing * 0.8

	@include inlayedText

	div
		@include listMargin($paragraphSpacing)
		text-align: center

		a
			@include underlinedInText

		.socialSprite
			$size: 0.9rem
			height: $size
			width: $size