@import "@common/styles/values/all"

.block
	@include inlayedText

	@include elementAccentedFont
	font-size: 1.5rem
	font-style: italic
	
	> *
		line-height: 1.85
		@include listMargin(1.25rem)

	strong
		$highlightColor: yellow
		$highlightSpacing: 0.1rem
		$highlightSpacingAspect: 2.5
		$highlightOffsetPercentage: 2.5%
		$highlightSkew: -12deg
		
		font-weight: inherit
		white-space: pre-wrap
		box-decoration-break: clone

		> span
			position: relative
			display: inline-block

			@include inlineOverlay($highlightOffsetPercentage, 85%, $highlightSkew)
				background: $highlightColor
				padding: ($highlightSpacing) ($highlightSpacing * $highlightSpacingAspect)

	a
		text-decoration: underline

	.quotes
		font-size: 2rem