@import "@common/styles/values/all"

.block
	padding: 3.5rem 0 5rem 0

	.cover
		position: relative
		@include inlayed

		$coverSize: 58rem

		@include breakpoint($desktop)
			max-width: $coverSize

		@include breakpoint($tablet)
			max-width: $coverSize * 0.8

		@include breakpoint($phone)
			max-width: $coverSize * 0.8

		.inlay
			background: $elementBackgroundColor

			.image
				@include coverObject
				display: block
			

	.heading
		@include elementHeadingFont
		font-size: $elementHeadingFontSize
		text-align: center
		margin-top: 2rem

	.subHeading
		@include elementSubHeadingFont
		font-size: $elementSubHeadingFontSize
		text-align: center
		margin-top: 0.9rem
		padding: 0 2.5rem
		
		@include breakpoint($tablet)
			padding: 0 10rem

		@include breakpoint($phone)
			padding: 0 5rem

	.callToAction
		margin: 2.25rem auto 0 auto