@import "@common/styles/values/all"
	
$interFigureSpacing: 1.75rem
$interFigureSpacingMobile: 2.5rem

.block
	display: flex
	overflow: hidden

	&.defaultAlignment
		flex-direction: rows

	&.rowsOnlyAlignment
		flex-direction: column

		> figure
			@include noHorizontalListMargin
			@include listMargin($interFigureSpacing)
		

	@include breakpoint($desktop)
		@include inlayed

	@include breakpoint($tablet)
		padding: 0 4.25rem

	@include breakpoint($phone)
		flex-direction: column
		padding: 0 $textInlayPaddingMobile + 0.25rem
		
		img
			width: auto!important
			max-width: 100%
			max-height: 150vh

	> figure
		@include horizontalListMargin($interFigureSpacing)
		flex: 1 1 100%

		@include breakpoint($phone)
			@include noHorizontalListMargin
			@include margin(0 auto)
			@include listMargin($interFigureSpacingMobile)


	&.singleImage
		> figure figcaption
			@include breakpoint($anyDesktop)
				@include inlayedText