@import "@common/styles/values/all"
	
.block
	margin: 0 auto

	@include breakpoint($desktop)
		width: 50rem
	
	@include breakpoint($tablet)
		width: 50rem

	@include breakpoint($phone)
		max-width: 100%
		margin: 0 $inlayPaddingPhone