@import "~breakpoint-sass"

$phoneCutoff: 696px
$tabletCutoff: 1024px

$phone: 0px $phoneCutoff
$tablet: ($phoneCutoff + 1) $tabletCutoff

$anyMobile: 0px $tabletCutoff
$anyDesktop: ($tabletCutoff + 1)