@import "~breakpoint-sass"

$phoneCutoff: 696px
$tabletCutoff: 1024px

$phone: 0px $phoneCutoff
$tablet: ($phoneCutoff + 1) $tabletCutoff
$desktop: $tabletCutoff + 1

$anyMobile: 0px $tabletCutoff
$anyDesktop: $desktop