// Colors

$clear: rgba(0, 0, 0, 0)
$textColor: #1c1c1c
$textColorFaded: #8d8d8d
$textColorSuperFaded: #d5d5d5
$textColorSubFaded: #555
$textAccentColor: #8884F1
$textColorOnDark: #fff
$textColorFadedOnDark: #f0f0f0

$elementBackgroundColor: #f5f5f5
$elementBackgroundColorDark: $textColor
$elementBorderColor: #f0f0f0
$elementHighlightColor: #fff9d5
$spriteFillColor: #1c1c1c
$spriteFillColorFaded: #e8e8e8
$tagBackgroundColor: #2f2f2f
$codeInlineBackgroundColor: #f0f0f0

$activeElementFadeOpacity: 0.25