// Colors

$clear: rgba(0, 0, 0, 0)
$textColor: #1c1c1c
$textColorSubFaded: #555
$textColorFaded: #999
$textAccentColor: #8884F1
$textColorOnDark: #fff

$elementBackgroundColor: #f5f5f5
$tagBackgroundColor: $textColor