// Fonts

$workSansFont: "Work Sans"
$maisonFont: "Maison Neue"
$maisonMonoFont: "Maison Neue Mono"

$defaultFont: $workSansFont
$paragraphFont: $workSansFont
$headingFont: $maisonFont

$elementHeadingFont: $maisonFont
$elementAccentedHeadingFont: $maisonMonoFont
$elementFont: $workSansFont
$elementAccentedFont: $maisonFont

$tagFont: $maisonMonoFont
$linkFont: $maisonMonoFont

$trailerFont: $workSansFont

// Font Sizes

$highlightFontSize: 1.75rem
$pageHeadingFontSize: 2.9rem
$elementHeadingFontSize: 2.2rem
$elementTextFontSize: 0.85rem
$elementArticleHeadingFontSize: 1.6rem
$elementArticleSubHeadingFontSize: 1.4rem
$tagTextFontSize: 1rem

// Paragraph Values

$paragraphLineHeight: 1.65

@font-face
	font-family: "Work Sans"
	font-weight: 400
	src: url("/assets/fonts/WorkSans-Regular.ttf") format("truetype")

@font-face
	font-family: "Work Sans"
	font-weight: 400
	font-style: italic
	src: url("/assets/fonts/WorkSans-Italic.ttf") format("truetype")

@font-face
	font-family: "Maison Neue"
	font-weight: 400
	src: url("/assets/fonts/MaisonNeue-Book.ttf") format("truetype")

@font-face
	font-family: "Maison Neue"
	font-weight: 700
	src: url("/assets/fonts/MaisonNeue-Bold.ttf") format("truetype")

@font-face
	font-family: "Maison Neue"
	font-weight: 800
	src: url("/assets/fonts/MaisonNeue-Black.ttf") format("truetype")

@font-face
	font-family: "Maison Neue Mono"
	font-weight: 400
	src: url("/assets/fonts/MaisonNeueMono-Regular.ttf") format("truetype")

@font-face
	font-family: "Maison Neue Mono"
	font-weight: 700
	src: url("/assets/fonts/MaisonNeueMono-Bold.ttf") format("truetype")

// Mixins

@mixin antiAliasedFont
	font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased