$workSansFontFamily: "Work Sans"
$maisonFontFamily: "Maison Neue"
$rationalTWFontFamily: "Rational TW"

// Font Styles

@mixin fontFamily($font)
	font-family: $font, -apple-system, sans-serif

@mixin monospaceFontFamily($font)
	font-family: $font, monospace

@mixin defaultFont
	@include fontFamily($workSansFontFamily)
	font-weight: 400

@mixin paragraphFont
	@include fontFamily($workSansFontFamily)
	font-weight: 400

@mixin paragraphHeadingFont
	@include fontFamily($maisonFontFamily)
	font-weight: 700

@mixin paragraphSubHeadingFont
	@include fontFamily($maisonFontFamily)
	font-weight: 400

@mixin titleFont
	@include fontFamily($maisonFontFamily)
	font-weight: 800

@mixin subTitleFont
	@include fontFamily($maisonFontFamily)
	font-weight: 400

@mixin headingFont
	@include fontFamily($maisonFontFamily)
	font-weight: 700

@mixin elementFont
	@include fontFamily($workSansFontFamily)
	font-weight: 400

@mixin elementAccentedFont
	@include fontFamily($maisonFontFamily)
	font-weight: 400

@mixin elementHeadingFont
	@include fontFamily($maisonFontFamily)
	font-weight: 700

@mixin elementSubHeadingFont
	@include fontFamily($maisonFontFamily)
	font-weight: 400

@mixin buttonFont
	@include fontFamily($maisonFontFamily)
	font-weight: 400

@mixin elementAccentedHeadingFont
	@include monospaceFontFamily($rationalTWFontFamily)
	font-weight: 600

@mixin tagFont
	@include monospaceFontFamily($rationalTWFontFamily)
	font-weight: 600

@mixin linkFont
	@include monospaceFontFamily($rationalTWFontFamily)
	font-weight: 400

@mixin codeFont
	@include monospaceFontFamily($rationalTWFontFamily)
	font-weight: 400

@mixin systemSymbolsFont
	font-family: "Apple Symbols", "Segoe UI", monospace
	font-weight: 400

// Font Wrapping

@mixin wrappingFont
	hyphens: auto
	white-space: unset

@mixin nonWrappingFont
	hyphens: none
	white-space: nowrap

// Font Sizes

$highlightFontSize: 1.5rem
$highlightFontSizeMobile: 1.4rem

$pageHeadingFontSize: 2.8rem
$pageHeadingFontSizeMobile: 2.65rem

$pageSubHeadingFontSize: 2.0rem
$pageSubHeadingFontSizeMobile: 1.85rem

$pageNavigationFontSize: 1rem
$pageNavigationFontSizeMobile: 1.2rem

$elementHeadingFontSize: 1.7rem
$elementHeadingFontSizeMobile: 1.7rem

$elementSubHeadingFontSize: 1.1rem
$elementSubHeadingFontSizeMobile: 1.1rem

$elementTextFontSize: 0.85rem
$elementTextFontSizeMobile: 1rem

$elementArticleHeadingFontSize: 1.5rem
$elementArticleHeadingFontSizeMobile: 1.4rem

$elementArticleSubHeadingFontSize: 1.2rem
$elementArticleSubHeadingFontSizeMobile: 1.2rem

$captionFontSize: 0.85rem
$captionFontSizeMobile: 1rem

// Paragraph Values

$paragraphLineHeight: 1.65
$captionLineHeight: 1.4

// Mixins

@mixin underlined
	display: inline-block
	text-decoration: none

	&::after
		content: ""
		display: block
		border-bottom: 3px solid $textColorSubFaded

		@include breakpoint($desktop)
			transform: translateY(-7px)

		@include breakpoint($tablet)
			transform: translateY(-6px)
			border-width: 2.5px

		@include breakpoint($phone)
			transform: translateY(-6px)
			border-width: 2.5px

@mixin antiAliasedFont
	font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased

// Ellipsis

@mixin ellipsized
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden

@mixin notEllipsized
	white-space: unset
	text-overflow: unset
	overflow: unset

@mixin ellipsizedLines($lines)
	display: -webkit-box
	display: -moz-box

	-webkit-line-clamp: $lines
	-moz-line-clamp: $lines

	-webkit-box-orient: vertical
	-moz-box-orient: vertical

	overflow: hidden
