// Spacing

$pageInlayWidth: 68rem
$pageContentSpacing: 5rem
$pageSubContentSpacing: 1.75rem

@mixin inlayed
	max-width: $pageInlayWidth
	margin: 0 auto

@mixin coverObject
	height: 100%
	width: 100%
	object-fit: cover
	object-position: center