@import "/styles/values/breakpoints"
	
// Spacing

$pageInlayWidth: 68rem
$pageInlayWidthMobile: 36rem

$pageInlayPadding: 3rem
$pageInlayPaddingMobile: 3rem

$textInlayWidth: 38rem

$pageSpacing: 8.5rem
$pageContentSpacing: 5rem
$pageSubContentSpacing: 1.75rem

$captionSpacing: 0.85rem
$descriptionParagraphSpacing: 0.85rem

// Mixins

@mixin inlayed
	max-width: $pageInlayWidth
	margin: 0 auto
	padding: 0 $pageInlayPadding

	@include breakpoint($anyMobile)
		padding: 0 $pageInlayPaddingMobile
		max-width: $pageInlayWidthMobile

@mixin inlayedText
	max-width: $textInlayWidth
	margin: 0 auto

@mixin listMargin($margin)
	margin-top: $margin

	&:first-child
		margin-top: 0

@mixin horizontalListMargin($margin)
	margin-left: $margin

	&:first-child
		margin-left: 0

@mixin coverImage
	position: relative
	width: 100%
	height: 68vh
	overflow: hidden

	img
		z-index: 1
		@include coverObject

	@include breakpoint($anyMobile)
		height: 88vh

@mixin coverObject
	height: 100%
	width: 100%
	object-fit: cover
	object-position: center