@import "/styles/values/fonts"
@import "/styles/values/colors"
@import "/styles/values/spacing"
	
.block
	@include inlayed

	h2
		font-family: $headingFont
		font-size: $elementHeadingFontSize
		font-weight: 700
		text-align: center