@import "/styles/values/all"
	
$interFigureSpacing: 1.75rem
$interFigureSpacingMobile: 2.5rem

.block
	@include inlayed
	display: flex
	overflow: hidden

	@include breakpoint($phone)
		@include notInlayed
		flex-direction: column

	@include breakpoint($tablet)
		max-width: none

	> figure
		@include horizontalListMargin($interFigureSpacing)

		height: max-content
		flex: 1 1 100%
		overflow: hidden

		@include breakpoint($phone)
			@include noHorizontalListMargin
			@include margin(0 auto)
			@include listMargin($interFigureSpacingMobile)

		figcaption
			@include inlayedText

			@include breakpoint($tablet)
				@include notInlayed
