@import "~/assets/style/mixins/mobile.scss";
@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/blip-element.scss";
@import "~/assets/style/mixins/text-ellipsis.scss";
@import "~/assets/style/life-kind-colors.scss";

.index-page {

	$interSectionSpacing: 8vh;

	.introducer {
		$shadowHorizontalOffset: 0;
		$shadowVerticalOffset: 4px;
		$shadowBlur: 0;
		$shadowColor: rgba(30, 30, 30, 0.35);
		$color: $textColorOnDark;

		@mixin textShadowDefault {
			text-shadow: $shadowHorizontalOffset $shadowVerticalOffset $shadowBlur $shadowColor;
		}

		@mixin textShadowSmall {
			text-shadow: $shadowHorizontalOffset ($shadowVerticalOffset * 0.5) $shadowBlur $shadowColor;
		}
		
		position: relative;
		width: 100%;
		height: 80vh;
		margin-bottom: $interSectionSpacing;

		@include mobile("factor-xs") {
			margin-bottom: $interSectionSpacing / 2;
		}

		.title-holder {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			display: flex;

			.page-branding {
				width: 100%;
				align-self: center;
	
				.title {
					color: $color;
					text-align: center;
					font-size: $fontSizeHeadingExtreme;
					font-weight: 700;
					text-transform: uppercase;
					margin-bottom: 15px;
	
					@include textShadowDefault();

					@include mobile("factor-l") {
						font-size: $fontSizeHeadingBold;
					}

					@include mobile("factor-xs") {
						font-size: $fontSizeHeadingDefault;
					}
				}
	
				.tagline {
					text-align: center;
					font-size: $fontSizeDefaultBold;
					color: $color;
					box-sizing: border-box;
					padding: 0 2em;
					line-height: $textLineHeightParagraphBold;
					
					@include textShadowSmall();
				}
			}
		}

		.image-holder {
			height: 100%;
		}

		.caption {
			position: absolute;
			width: 100%;
			text-align: center;
			bottom: 18px;
			color: $color;
			opacity: 0.5;
			padding: 0 3em;
			box-sizing: border-box;

			@include textShadowSmall();
		}
	}

	.showcases {
		margin-bottom: $interSectionSpacing;

		@include mobile("factor-xs") {
			margin-bottom: $interSectionSpacing / 2;
		}

		.leader {
			text-align: center;
			color: $textColorVeryLight;
			margin-bottom: 25px;
		}

		> .work-showcase {
			.image-holder {
				width: 100%;
				min-height: 400px;
				height: 40vh;
				overflow: hidden;
				margin-bottom: 15px;

				@include mobile("factor-l") {
					min-height: 100px;
					height: 34vh;
				}
			}

			.item-data {
				$blipSize: 11px;
				$blipPadding: 7px;
				$childDividerSpacing: 10px;

				display: flex;

				@include mobile("factor-xs") {
					flex-wrap: wrap;
				}

				.title {
					flex: 2 2 auto;
					margin-right: 75px;
					@include textEllipsis();

					@include mobile("factor-s") {
						margin-right: 25px;
					}

					@include mobile("factor-xs") {
						flex: 0 100%;
						margin-bottom: 5px;
					}
				}

				.blip {
					flex: 0 $blipSize;
					padding: 4px $blipPadding 0 $blipPadding;

					@include blipElement($blipSize);

					@include mobile("factor-xs") {
						padding-left: 0;
					}
				}

				.format {
					flex: 0 0 auto;
					&:after {
						content: "|";
						padding: 0 $childDividerSpacing;
					}
				}

				.contents {
					flex: 0 0 auto;
					@include textEllipsis();
				}
			}
		}
	}

}