@import "/styles/values/all"
@import "/styles/indicators/kind-colors"
@import "life-table-layout.sass"

.table
	@include table

.item
	$fixedHeight: 4.5rem
	$decorativeSpacing: 1.6rem

	position: relative
	height: $fixedHeight

	@include breakpoint($anyMobile)
		height: unset

	.decorative
		$decorativeVerticalOffset: 0.3rem
		$decorativeSize: 0.75rem

		position: absolute
		top: $decorativeVerticalOffset
		left: -$decorativeSpacing
		height: $decorativeSize
		width: $decorativeSize
		
		background: #333
		@include tagBackgroundColors

	.inlay
		header
			@include tableItemHeadingFont
			
		main
			margin-top: $itemComponentSpacing

			> *
				@include tableItemFont

				box-sizing: border-box
				line-height: 1.5
				padding-right: 1rem
				
				&.disclosure
					color: $textColorFaded

				@include breakpoint($anyMobile)
					padding-right: 0.5rem
					white-space: nowrap
					text-overflow: ellipsis
					overflow: hidden
				