@import "/styles/values/all"
	
$itemComponentSpacing: 0.5rem
$interDetailComponentSpacing: 0.75rem

@mixin tableHeaderFont
	font-family: $elementHeadingFont
	font-weight: 400
	font-size: 1.05rem

	@include breakpoint($anyMobile)
		font-size: 1.1rem

@mixin tableItemHeadingFont
	font-family: $elementHeadingFont
	font-weight: 700
	font-size: 1.05rem

	@include breakpoint($anyMobile)
		font-size: 1.1rem

@mixin tableItemFont
	font-family: $elementAccentedFont
	font-weight: 400
	font-size: 0.85rem

	@include breakpoint($anyMobile)
		font-size: 1rem

@mixin table
	display: flex

	> *
		@include horizontalListMargin($interDetailComponentSpacing)

		flex: auto
		width: 20%

		&.context
			width: 40%

		&.disclosure
			display: none
			max-width: 85px

		@include breakpoint($anyMobile)
			&.role, &.context
				display: none

			&.disclosure
				display: inherit