@import "/styles/values/fonts"
@import "/styles/values/spacing"
@import "/styles/values/colors"
@import "/styles/values/kind-colors"
@import "life-table-layout.sass"

.table
	@include table

.item
	position: relative
	$decorativeSpacing: 1.6rem

	.decorative
		$decorativeVerticalOffset: 0.3rem
		$decorativeSize: 0.75rem

		position: absolute
		top: $decorativeVerticalOffset
		left: -$decorativeSpacing
		height: $decorativeSize
		width: $decorativeSize
		
		background: #333
		@include tagBackgroundColors

	.inlay
		> header
			@include tableItemHeadingFont
			
		> main
			margin-top: $itemComponentSpacing

			> div
				@include tableItemFont
				