@import "/styles/values/all"
@import "/styles/base/vendors"

.tag
	width: fit-content
	text-transform: uppercase

	font-size: 1rem
	line-height: 1rem
	padding: 5px 8px 3px 8px

	@include breakpoint($anyMobile)
		padding: 3px 7px 3px 7px

	@include tagFont
	
	color: $textColorFadedOnDark
	background: var(--accent-color, $tagBackgroundColor)
	filter: saturate(0.5) contrast(1.15) brightness(1.2)
	box-shadow: 0.15rem 0.15rem 0 rgba(255, 255, 255, 0.35)