@import "/styles/values/fonts"
@import "/styles/values/spacing"
@import "/styles/values/colors"
@import "/styles/indicators/kind-colors"

.tag
	$paddingSpacing: 0.4rem

	font-family: $tagFont
	font-size: $tagTextFontSize
	font-weight: 700
	text-transform: uppercase
	padding: $paddingSpacing/6.25 $paddingSpacing $paddingSpacing/4 $paddingSpacing
	color: $textColorOnDark
	background: $tagBackgroundColor
	width: fit-content
	line-height: 1.2

	@include tagBackgroundColors