@import "/styles/values/all"
	
.page
	padding-bottom: $pageSpacing
	
	.texts
		@include inlayed
		position: relative
		margin-top: $pageSpacing

	.feature
		position: relative
		margin-top: $pageContentSpacing
		
		@include breakpoint($anyMobile)
			> section
				background: #f5f5f5
				padding-bottom: $pageSubContentSpacing