@import "/styles/values/colors"
@import "/styles/values/fonts"
@import "/styles/values/spacing"
	
.page
	padding-bottom: $pageSpacing

	.cover
		position: relative
		width: 100%
		height: $indexCoverHeight
		overflow: hidden

		img
			z-index: 1
			@include coverObject

		.heading
			h1
				font-family: $headingFont
				font-weight: 800
				font-size: 6vw
				text-transform: uppercase
				color: $clear
				z-index: 2

		.subheading
			h2
				position: relative
				top: 5rem
				font-family: $headingFont
				font-weight: 300
				font-size: 1rem
				color: $clear
			
		.centered
			position: absolute
			display: flex
			justify-content: center
			align-items: center
			width: 100%
			height: 100%
	
	.texts
		@include inlayed
		margin-top: $pageSpacing
		position: relative

		.line
			position: relative
			font-family: $headingFont
			font-size: $highlightFontSize
			text-align: center
			margin: $pageSubContentSpacing 0

		// Decorative Elements

		.underlined, u
			display: inline-block
			text-decoration: none

			&::after
				content: ""
				display: block
				margin-top: -3px
				border-bottom: 0.2rem solid $textColor

	.feature
		margin-top: $pageContentSpacing
		text-align: center