@import "/styles/values/colors"
@import "/styles/values/fonts"
@import "/styles/values/spacing"
	
.page
	padding-bottom: $pageSpacing
	
	.texts
		@include inlayed
		margin-top: $pageSpacing
		position: relative

	.feature
		margin-top: $pageContentSpacing