@import "/styles/values/fonts"
@import "/styles/values/spacing"
@import "/styles/values/colors"

.page
	padding-bottom: $pageContentSpacing

	article
		@include inlayedText
		margin-top: $pageContentSpacing
	
	aside
		@include inlayedText
		margin-top: $pageContentSpacing