@import "/styles/values/all"
@import "/styles/base/accessibility"

.page
	$interContentSpacing: $pageSpacing
	$interContentSpacingMobile: $pageSpacing * 0.85

	padding-bottom: $pageContentSpacing

	.cover
		@include coverImageWithBreakpoints

	.title
		margin-top: $interContentSpacing

		@include breakpoint($anyMobile)
			margin-top: $interContentSpacingMobile

	.list
		@include breakpoint($anyDesktop)
			margin: $interContentSpacing 0 $interContentSpacing 0
			@include inlayed

		@include breakpoint($anyMobile)
			margin: $interContentSpacing 2rem $interContentSpacing 2rem

		> ol
			display: grid
			grid-template-columns: repeat(2, 1fr)
			grid-template-rows: auto
			column-gap: 6rem
			row-gap: 4rem
			width: max-content
			margin: 0 auto

			@include breakpoint($tablet)
				column-gap: 4.5rem
				row-gap: 3.5rem

			@include breakpoint(0px $tabletCutoff - 200)
				grid-template-columns: 1fr

			@include breakpoint($phone)
				grid-template-columns: 1fr
				row-gap: 3.5rem
				