@import "/styles/values/all"
@import "/styles/base/accessibility"

.page
	$interContentSpacing: $pageSpacing
	$interContentSpacingMobile: $pageSpacing * 0.85

	padding-bottom: $pageContentSpacing

	.cover
		@include coverImageWithBreakpoints(-16vh, -8rem, 0rem)

	.title
		margin-top: $interContentSpacing

		@include breakpoint($anyMobile)
			margin-top: $interContentSpacingMobile

	.list
		@include breakpoint($anyDesktop)
			@include inlayed
			margin-top: $interContentSpacing

		@include breakpoint($anyMobile)
			margin: $interContentSpacing 2rem 0 2rem

		> ol
			display: flex
			flex-wrap: wrap
			align-content: space-around
			justify-content: center
			column-gap: 6rem
			row-gap: 4rem