@import "/styles/values/all"
@import "/styles/base/accessibility"

.page
	$interContentSpacing: $pageSpacing
	$interContentSpacingMobile: $pageSpacing * 0.85

	padding-bottom: $pageContentSpacing

	.cover
		@include coverImageWithBreakpoints(-15vh, -7rem, 0rem)		// Reduced height cover.
		// @include coverImageWithBreakpoints()

	.title
		margin-top: $interContentSpacing

		@include breakpoint($anyMobile)
			margin-top: $interContentSpacingMobile

	.list
		@include inlayed
		margin-top: $interContentSpacing

		> ol
			display: flex
			flex-wrap: wrap
			align-content: space-around
			justify-content: center
			column-gap: 6rem
			row-gap: 4rem