@import "@common/styles/values/all"
@import "@common/styles/mixins/accessibility"
	
.page
	$sectionSpacing: 2.2rem
	$sectionSpacingMobile: 4rem

	padding-bottom: $pageContentSpacing

	h1
		@include semantic
	
	.workList
		max-width: $ultraWideItemMaxWidth
		margin: 0 auto

		> section
			@include listMargin($sectionSpacing)

			@include breakpoint($anyMobile)
				@include listMargin($sectionSpacingMobile)

