@import "/styles/values/all"
@import "/styles/base/accessibility"
	
.page
	$sectionSpacing: 2.2rem
	$sectionSpacingMobile: 4rem

	padding-bottom: $pageContentSpacing

	h1
		@include semantic
	
	.workList
		> section
			@include listMargin($sectionSpacing)

			@include breakpoint($anyMobile)
				@include listMargin($sectionSpacingMobile)

