@import "/styles/values/all"
@import "/styles/base/accessibility"
	
.page
	$sectionSpacing: 2.2rem
	$sectionSpacingMobile: 4rem

	$closureSpacing: 1rem

	padding-bottom: $pageContentSpacing

	.workList
		> section
			@include listMargin($sectionSpacing)

			@include breakpoint($phone)
				@include listMargin($sectionSpacingMobile)

	.closure
		@include inlayed

		margin-top: $pageContentSpacing
		color: $textColorFaded
		text-align: center

		> div
			@include listMargin($closureSpacing)