@import "/styles/base/accessibility"
@import "/styles/values/spacing"
	
.page
	padding-bottom: $pageContentSpacing

	.workList
		> section
			margin-top: $pageSubContentSpacing * 1.65
			&:first-child
				margin-top: 0