@import "~/assets/style/values.scss";

.image-columns-block {

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, max-content);
	grid-auto-flow: row;
	grid-gap: 20px;

	&.content-single {
		grid-template-columns: 1fr;
	}

	&.content-dual {
		grid-template-columns: repeat(2, 1fr);
	}

	> div {
		overflow: hidden;

		.image-holder {
			width: 100%;
			min-height: 200px;
			overflow: hidden;

			img {
				background: #f0f0f0;
			}
		}
	
		.label {
			margin-top: 8px;
			color: $textColorVeryLight;
		}
	}

}