@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/mobile.scss";

header {

	.page-branding {
		.title {
			font-size: $fontSizeHeadingDefault;
			font-weight: 700;
			color: $textColorHeading;
			text-transform: uppercase;
			margin: 0 0 5px 0;

			@include mobile("factor-l") {
				font-size: $fontSizeHeadingDefault * 0.75;
			}

			@include mobile("factor-m") {
				font-size: $fontSizeHeadingDefault * 0.58;
			}
		}

		.tagline {
			font-size: $fontSizeDefaultBold;
			color: $textColorLight;
			margin: 0;

			@include mobile("factor-l") {
				font-size: $fontSizeDefaultBold * 0.85;
				padding-right: 20%;
			}

			@include mobile("factor-m") {
				font-size: $fontSizeDefaultBold * 0.78;
				padding-right: 10%;
			}
		}
	}

}