@import "@common/styles/values/fonts"
@import "@common/styles/values/spacing"
	
.video
	position: relative
	padding: 75% 0 0 0

	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%