@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/mobile.scss";

$inactiveTextColor: $textColorHeading;
$activeTextColor: $textColorActive;

header nav.page-navigation {
	flex: 0;
	display: flex;

	> div {
		flex: auto;
		font-weight: 700;
		font-size: $fontSizeNavigationDefault;
		color: $textColorHeading;
		text-transform: uppercase;
		padding: 0 20px 0 0;
		
		&:last-child {
			padding-right: 0;
		}
	}

	@include mobile("factor-xs") {
		flex-basis: 100%;
		padding-bottom: 12px;
		border-bottom: $dividerBorder;

		> div {
			max-width: fit-content;
		}
	}
}

.indicating-navigation {

	.navigation-element {
		color: $textColorHeading;

		&.nuxt-link-exact-active {
			color: $activeTextColor;
		}

		&.nuxt-link-active {
			color: $activeTextColor;
		}

		&:first-child {
			&.nuxt-link-active {
				color: $inactiveTextColor;
			}

			&.nuxt-link-active.nuxt-link-exact-active {
				color: $activeTextColor;
			}
		}
	}

}