@import "~/assets/style/mixins/mobile.scss";
@import "~/assets/style/values.scss";
@import "~/assets/style/fonts.scss";

html, body {
	padding: 0;
	margin: 0;
	min-width: 300px;
}

body {
	font-family: "Paralucent";
	font-weight: 300;
	font-size: $fontSizeDefault;
	color: $textColor;

	@include mobile() {
		-webkit-text-size-adjust: 100%;
	}
}

// Elements

button {
	appearance: none;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
}

a, a:link, a:active, a:visited {
	text-decoration: unset;
	color: unset;
}

// Case & Wrap

#page {
	display: flex;
	justify-content: space-between;

	> .wrap {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100vh;
		padding: 0;
	
		> header {
			flex: 0 auto;
		}
	
		> main {
			flex: auto;
		}
	
		> footer {
			flex: 0 auto;
		}
	}
}

.inset {
	box-sizing: border-box;
	padding: $insetVertical $insetHorizontal;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;

	@include mobile() {
		padding: $insetVertical * 0.6 $insetHorizontal * 0.6;
	}

	@include mobile("phone") {
		padding: $insetVertical * 0.35 $insetHorizontal * 0.35;
	}
}

// Main

main {
	padding: 0 0 $insetVertical 0;

	@include mobile() {
		padding-bottom: $insetVertical * 0.6;
	}

	@include mobile("phone") {
		padding-bottom: $insetVertical * 0.35;
	}
}

// Image

.covering {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.image-holder {
	img {
		background: $faintElementColor;
	}
}

// Optimizations

aside.opt {
	opacity: 0;
	overflow: hidden;
	height: 0;
	width: 0;
}