$lifeKindColor: (

	all: #C7C7C7,
	external: #FFF290,
	life: #FEF6C9,
	education: #F0B6C1,
	film: #4640F8,
	artwork: #A0D3DD,
	photography: #41F8D4,
	development: #A180C6

);

@each $key, $color in $lifeKindColor {
	.kind-blip-colored {
		&.kind-#{$key} {
			.blip:before {
				background: $color;
				border-color: transparent;
			}

			.blip.active-indicator:before {
				background: transparent;
				border-color: $color;
			}
		}

		&.kind-#{$key}.active {
			.blip.active-indicator:before {
				background: $color;
				border-color: transparent;
			}
		}
	}
}