@import "/styles/values/all"

$inputSpacing: 3.5rem

.page
	padding-bottom: $pageSpacing

	.title
		margin-top: $pageSpacing

	.inputs
		margin-top: $pageSpacing

		.input
			width: 35rem
			margin: $inputSpacing auto 0 auto

	.tutorial
		margin-top: $pageContentSpacing

	.colors
		margin-top: $pageContentSpacing

	.previews
		margin-top: $pageContentSpacing