@import "/styles/values/all"

$inputSpacing: 3.5rem

.page
	padding-bottom: $pageSpacing

	.notice
		margin: $pageContentSpacing auto 0 auto

	.title
		margin-top: $pageContentSpacing

	.inputs
		margin-top: $pageSpacing

		.input
			width: 35rem
			margin: $inputSpacing auto 0 auto

	.tutorial
		margin-top: $pageContentSpacing

	.colorsAndPreview
		@include breakpoint($desktop)
			@include inlayed
			margin-top: $pageContentSpacing
			display: flex
			max-height: 76rem

			> *
				max-height: 100%

			.colors
				flex: 1 1 auto
				width: 40%

			.previews
				flex: 1 1 auto
				$spacing: 2rem
				width: calc(60% - #{$spacing})
				margin-left: $spacing

		@include breakpoint($tablet)
			.colors
				margin: $pageContentSpacing auto 0 auto
				padding: 0 $inlayPaddingTablet
				max-width: 35rem
			.previews
				padding: 0 5rem
				margin-top: $pageContentSpacing

		@include breakpoint($phone)
			.colors
				margin: $pageContentSpacing auto 0 auto
				padding: 0 $inlayPaddingPhone
			.previews
				margin: $pageContentSpacing auto 0 auto
				padding: 0 $inlayPaddingPhone
				max-width: $inlayWidthPhone

	.closure
		> *
			@include listMargin(0.5rem)
			text-align: center