@import "/styles/values/all"

$inputSpacing: 3.5rem

.page
	padding-bottom: $pageSpacing

	.title
		margin-top: $pageSpacing

	.inputs
		margin-top: $pageSpacing

		.input
			width: 35rem
			margin: $inputSpacing auto 0 auto

	.tutorial
		margin-top: $pageContentSpacing

	.colorsAndPreview
		@include inlayed
		margin-top: $pageContentSpacing
		display: flex
		max-height: 76rem

		> *
			max-height: 100%

		.colors
			flex: 1 1 auto
			width: 40%

		.previews
			flex: 1 1 auto
			$spacing: 3rem
			width: calc(60% - #{$spacing})
			margin-left: $spacing