@import "/styles/values/all"

.page
	$interContentSpacing: 7rem
	$interContentSpacingMobile: $interContentSpacing * 0.85
	$interSubContentSpacing: 4rem

	padding-bottom: $pageSpacing

	header
		.cover
			@include coverImageWithBreakpoints()

	main
		.divider
			margin-top: $interContentSpacing

		.title
			margin-top: $pageSpacing

		.abstract
			margin: $interSubContentSpacing auto 0 auto
			@include inlayedText
			@include wrappingFont

			p
				@include listMargin($descriptionParagraphSpacing)
		
		.colors
			@include breakpoint($anyDesktop)
				margin-top: $interContentSpacing
				@include inlayed

			@include breakpoint($anyMobile)
				margin: $interContentSpacing 2rem 0 2rem

		.previews
			@include inlayed
			margin-top: $interContentSpacing

			.previewsContent
				@include breakpoint($anyDesktop)
					margin: 0 7.5%

				@include breakpoint($anyMobile)
					margin: 0

		.downloads
			margin-top: $interContentSpacing