@import "/styles/values/all"

.page
	$interContentSpacing: $pageSpacing
	$interContentSpacingMobile: $pageSpacing * 0.85

	padding-bottom: $pageContentSpacing

	.cover
		@include coverImageWithBreakpoints(-15vh, -7rem, 0rem)		// Reduced height cover.
		filter: brightness(0.75) sepia() hue-rotate(200deg)			// Placeholder color fill.

	.sprite
		$size: 2rem
		height: $size
		width: $size
		margin: 1rem

		fill: orange