@import "~/assets/style/values.scss";

.work-detail-page {

	section.introducer {
		$shadowHorizontalOffset: 0;
		$shadowVerticalOffset: 3px;
		$shadowBlur: 0;
		$shadowColor: rgba(30, 30, 30, 0.35);

		$color: #fff;
		position: relative;

		.image-holder {
			width: 100%;
			min-height: 600px;
			background: #46fdbd;
		}

		.title-holder {
			position: absolute;
			bottom: 33%;
			width: 100%;

			h2 {
				font-size: $fontSizeHeadingBold;
				color: $color;
				text-shadow: $shadowHorizontalOffset $shadowVerticalOffset $shadowBlur $shadowColor;
				width: fit-content;
				margin: 0 auto;
			}
		}

		.scroll-indicator {
			position: absolute;
			width: 100%;
			bottom: 15px;
			$width: 40px;

			svg {
				display: block;
				position: relative;
				height: $width;
				width: $width;
				margin: 0 auto;
				fill: $color;
				$shadowColor: rgba(60, 60, 60, 0.35);
				filter: drop-shadow($shadowHorizontalOffset $shadowVerticalOffset $shadowBlur $shadowColor);
			}
		}
	}

}