@import "/styles/values/all"

.menuItem
	$itemPadding: $pageSubContentSpacing * 0.75

	.inlay
		display: flex
		column-gap: 0.65rem
		align-items: center
		padding: $itemPadding 0

		.symbol
			$size: 1.1rem
			height: $size
			width: $size
		.text