@import "/styles/values/all"

.menuItem
	$itemPadding: $pageSubContentSpacing * 0.75

	.inlay
		$itemSize: 1.1rem
		padding: $itemPadding 0
		

		> *
			display: inline-block
			vertical-align: middle

		.symbol
			@include size($itemSize)
			overflow: visible

		.text
			margin-left: 0.5rem
			line-height: $itemSize

		&.plain
			cursor: default

	&.disabled
		.inlay
			opacity: 0.5