@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/mobile.scss";

.text-quote-block {

	p {
		padding: 0 25%;
		margin: 0;
		text-align: center;
		font-style: italic;
		font-size: $fontSizeLabelBold;
		color: $textColorLight;
		line-height: $textLineHeightParagraphBold;

		@include mobile() {
			padding: 0 18%;
		}

		@include mobile("phone") {
			padding: 0 15%;
		}
	}

}