@import "~/assets/style/values.scss";

body {
	font-family: "paralucent";
	color: $textColor;
	font-weight: 200;
	padding: 0;
	margin: 0;
	font-size: 1em;
}

// Text

h1, h2, h3, h4 {
	font-family: "paralucent";
	font-weight: 700;
}

// Case & Wrap

.case {
	display: flex;
	justify-content: space-around;

	> .wrap {
		width: 100%;
		padding: 0;
	}
}

// Structure (Header, Main, Footer)

.wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	> header {
		flex: 0 auto;
	}

	> main {
		flex: auto;
	}

	> footer {
		flex: 0 auto;
	}

	.inset {
		padding: 25px 50px;
	}
}

main {
	padding: 50px 0;
}