@import "~/assets/style/values.scss";

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: "paralucent", sans-serif;
	font-weight: 300;
	font-size: $fontSizeDefault;
	color: $textColor;
}

// Text

h1, h2, h3, h4 {
	font-family: "paralucent";
	font-weight: 700;
	margin: 0;
}

// Elements

button {
	appearance: none;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
}

a, a:link, a:active, a:visited, a:hover {
	text-decoration: unset;
	color: unset;
}

// Case & Wrap

.case {
	display: flex;
	justify-content: space-between;

	> .wrap {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100vh;
		padding: 0;
	
		> header {
			flex: 0 auto;
		}
	
		> main {
			flex: auto;
		}
	
		> footer {
			flex: 0 auto;
		}
	}
}

main {
	padding: 0 0 $insetVertical 0;
}

.inset {
	padding: $insetVertical $insetHorizontal;
}

.covering {
	object-fit: cover;
	height: 100%;
	width: 100%;
}