/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * paralucent:
 *   - http://typekit.com/eulas/00000000000000003b9ad9d0
 *   - http://typekit.com/eulas/00000000000000003b9ad9fd
 * paralucent-text:
 *   - http://typekit.com/eulas/00000000000000003b9ad9d3
 *   - http://typekit.com/eulas/00000000000000003b9ad9db
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-02-27 09:36:30 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=flj5giy&ht=tk&f=27992.28037.27995.28003&a=8971879&app=typekit&e=css");

@font-face {
font-family:"paralucent";
src:url("https://use.typekit.net/af/747436/00000000000000003b9ad9d0/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/747436/00000000000000003b9ad9d0/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/747436/00000000000000003b9ad9d0/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"paralucent";
src:url("https://use.typekit.net/af/e3caea/00000000000000003b9ad9fd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/e3caea/00000000000000003b9ad9fd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/e3caea/00000000000000003b9ad9fd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-style:italic;font-weight:700;
}

@font-face {
font-family:"paralucent-text";
src:url("https://use.typekit.net/af/97e7b6/00000000000000003b9ad9d3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/97e7b6/00000000000000003b9ad9d3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/97e7b6/00000000000000003b9ad9d3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"paralucent-text";
src:url("https://use.typekit.net/af/e14bed/00000000000000003b9ad9db/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e14bed/00000000000000003b9ad9db/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e14bed/00000000000000003b9ad9db/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

.tk-paralucent { font-family: "paralucent",sans-serif; }
.tk-paralucent-text { font-family: "paralucent-text",sans-serif; }