// Measures

$insetVertical: 25px;
$insetHorizontal: 50px;

// Colors

$textColor: #4f4f4f;
$textColorLight: #6f6f6f;
$textColorVeryLight: #aaa;
$textColorActive: #d3d3d3;
$textColorOnDark: #fff;

$textColorHeading: #3a3a3a;

// Text

$textLineHeightParagraph: 1.75;
$textLineHeightParagraphBold: 1.55;

// Sizes

$fontSizeDefault: 0.95em;
$fontSizeDefaultBold: 1em;

$fontSizeLabelDefault: 1.25em;
$fontSizeLabelBold: 1.5em;

$fontSizeHeadingDefault: 3.1em;
$fontSizeHeadingBold: 3.5em;
$fontSizeHeadingExtreme: 5.25em;

$fontSizeNavigationDefault: 1.25em;