// Measures

$insetVertical: 25px;
$insetHorizontal: 50px;

// Colors

$textColor: #414141;
$textColorLight: #6F6F6F;
$textColorVeryLight: #AAA;

// Sizes

$fontSizeDefault: 1em;
$fontSizeTaglineDefault: 0.9em;

$fontSizeLabelDefault: 1.15em;
$fontSizeLabelBold: 1.5em;

$fontSizeHeadingDefault: 3em;
$fontSizeHeadingBold: 3.25em;