@import "@common/styles/globals/api"
@import "@common/styles/values/fonts"

// Font Paths

@function fontPathComponent($identifier)
	@return "/storage/uploads/fonts/" + $identifier

@function fontPath($identifier)
	$pathComponent: fontPathComponent($identifier)
	@return cockpitAssetPath($pathComponent)

// Font Names

$workSansFontFamily: "Work Sans"
$maisonFontFamily: "Maison Neue"
$rationalTWFontFamily: "Rational TW"

// Font Includes

@mixin fontSrc($url)
	font-display: swap
	src: url($url) format("woff2"), local("-apple-system"), local("sans-serif")

@mixin monospaceFontSrc($url)
	font-display: swap
	src: url($url) format("woff2"), local("-apple-system"), local("monospace")

@font-face
	$fontUrl: fontPath("work-sans-regular.woff2")

	font-family: $workSansFontFamily
	font-weight: 400
	@include fontSrc($fontUrl)

@font-face
	$fontUrl: fontPath("work-sans-italic.woff2")

	font-family: $workSansFontFamily
	font-weight: 400
	font-style: italic
	@include fontSrc($fontUrl)

@font-face
	$fontUrl: fontPath("work-sans-semibold.woff2")

	font-family: $workSansFontFamily
	font-weight: 600
	font-style: normal
	@include fontSrc($fontUrl)

@font-face
	$fontUrl: fontPath("maison-neue-book.woff2")

	font-family: $maisonFontFamily
	font-weight: 400
	@include fontSrc($fontUrl)

@font-face
	$fontUrl: fontPath("maison-neue-bold.woff2")

	font-family: $maisonFontFamily
	font-weight: 700
	@include fontSrc($fontUrl)

@font-face
	$fontUrl: fontPath("maison-neue-black.woff2")

	font-family: $maisonFontFamily
	font-weight: 800
	@include fontSrc($fontUrl)

@font-face
	$fontUrl: fontPath("rational-tw-book.woff2")

	font-family: $rationalTWFontFamily
	font-weight: 400
	@include monospaceFontSrc($fontUrl)

@font-face
	$fontUrl: fontPath("rational-tw-semibold.woff2")

	font-family: $rationalTWFontFamily
	font-weight: 600
	@include monospaceFontSrc($fontUrl)