@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/blip-element.scss";
@import "~/assets/style/life-kind-colors.scss";

.work-overview-page {

	.work-overview {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-gap: 15px;

		> .work-item {
			.image-holder {	
				background: #efefef;
				overflow: hidden;
				height: 400px;

				img {
					min-width: 100%;
					height: 100%;
				}
			}

			.item-data {
				$blipSize: 14px;
				$blipPadding: 8px;
				$childDividerSpacing: 15px;

				display: flex;
				margin: 18px 0 6px 0;
				font-size: $fontSizeLabelDefault;

				> * {
					flex: auto;
					max-width: fit-content;
				}

				.blip {
					flex: 0 $blipSize;
					padding-top: 4px;
					padding-right: $blipPadding;

					@include blipElement($blipSize);
				}

				.format, .contents {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.format {
					&:after {
						content: "|";
						padding: 0 $childDividerSpacing;
					}
				}
			}

			.item-name {
				h2 {
					padding-right: 20px;
				}
			}
		}
	}

}