@import "@common/styles/values/all"
	
$horizontalSpacing: 1.25rem
$verticalSpacing: 0.85rem

.block
	textarea
		appearance: none
		border: none
		margin: 0
		padding: $verticalSpacing $horizontalSpacing
		background: $elementBackgroundColor
		width: 100%
		box-sizing: border-box
		height: 6rem
		resize: none
		border-radius: 0

		@include elementFont
		font-size: 1rem

	&.isReadOnly
		input
			color: $textColorFaded

	&:not(.isValid).isHighlighting
		textarea
			animation: blinkBackgroundForError 1s cubic-bezier(0.550, 0.055, 0.675, 0.190) both