@import "~/assets/style/values.scss";

footer {

	$sectionHeaderMargin: 25px;
	$sectionInterItemSpacing: 10px;

	height: max-content;
	
	.wrap {
		box-sizing: border-box;

		> .inlay {
			width: 100%;
			border-top: 1px dotted $textColorVeryLight;
			padding: 50px 0;

			display: flex;

			// Fundamentals

			> section {
				flex: 1 auto;

				header {
					font-weight: 700;
					font-size: $fontSizeLabelDefault;
					margin-bottom: $sectionHeaderMargin;
				}

				main {
					> a > div, > div {
						margin-bottom: $sectionInterItemSpacing;
					}
				}
			}

			// Content Specifics

			section.map main {
				.route {
					display: flex;
					max-width: 250px;

					> * {
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}

					> .name {
						flex: 0 50%;
					}

					> .address {
						flex: 0 50%;
						color: $textColorVeryLight;
					}
				}

				a.nuxt-link-exact-active .route {
					> .address {
						color: unset;
					}
				}
			}
		}
	}

}