@import "/styles/values/all"

.menu	
	background: $elementBackgroundColor
	
	> div
		width: fit-content
		margin: 0 auto
		
		@include breakpoint($anyDesktop)
			@include inlayed

		> *
			display: inline-block
			padding: 1.5rem 0.9rem

			@include breakpoint($desktop)
				@include horizontalListMargin(1rem)

			@include breakpoint($tablet)
				@include horizontalListMargin(1.85rem)

			@include breakpoint($phone)
				@include horizontalListMargin(1.85rem)