@import "@common/styles/values/all"

.menu	
	background: $elementBackgroundColor
	
	.inlay
		display: flex
		justify-content: center
		
		@include breakpoint($desktop)
			@include inlayed
			> *
				padding: 1.5rem 1.4rem

		@include breakpoint($tablet)
			> *
				padding: 1.5rem 1.35rem

		@include breakpoint($phone)
			> *
				padding: 1.5rem 1.5rem