@import "/styles/values/all"
	
.notice
	display: flex
	align-items: center
	gap: 1.75rem
	width: fit-content
	max-width: 30rem
	padding: 1.85rem 2.85rem
	border: solid 1px $elementBorderColor

	.symbol
		$size: 1.75rem
		@include size($size)
		fill: $textColor
		flex: 0 0 $size

	.inlay
		flex: 1 1 auto
		line-height: 1.5