@import "/styles/values/all"
	
.previews
	.content

	.selector
		@include inlayed
		width: fit-content
		margin: $pageSubContentSpacing auto 0 auto

		> *
			display: inline-block
			@include horizontalListMargin(0.35rem)