@import "@common/styles/values/all"
	
.previews
	display: flex
	flex-direction: column

	.content
		flex: 1 1 auto

		.preview
			height: 100%

	.selector
		flex: 0 0 auto
		@include inlayed
		margin: $pageSubContentSpacing auto 0 auto