@import "/styles/values/all"

.button
	border: 1px solid $textColor
	padding: 0.15rem 0.5rem
	display: flex
	align-items: center

	&.decorated
		.text
			margin-left: 0.65rem

	.symbol
		@include size(1rem)
		flex: 0 0 1rem

	.text
		@include buttonFont
		@include ellipsized