@import "/styles/values/all"

.button
	border: 1px solid $textColor
	padding: 0.15rem 0.5rem

	&.decorated
		.text
			margin-left: 0.65rem

	> *
		display: inline-block
		vertical-align: middle

	.symbol
		@include size(1rem)

	.text
		@include buttonFont