@import "/styles/values/colors"
@import "/styles/values/fonts"
	
.footer
	background-color: $elementBackgroundColor
	// background-image: url("/paper-card.jpg")
	background-size: cover
	box-sizing: border-box
	padding: 70px 50px
	padding-right: 10rem

	display: flex
	justify-content: space-between