@import "/styles/values/colors"
@import "/styles/values/fonts"
@import "/styles/values/spacing"
	
.footer
	background-color: $elementBackgroundColor
	// background-image: url("/paper-card.jpg")
	background-size: cover
	box-sizing: border-box

	.inlay
		@include inlayed
		padding: 4rem 0

		display: flex
		justify-content: space-between