@import "/styles/values/colors"
@import "/styles/values/fonts"
@import "/styles/values/spacing"
	
.footer
	background-color: $elementBackgroundColor
	background-size: cover
	box-sizing: border-box
	overflow: hidden

	.inlay
		@include inlayed
		padding-top: 4rem
		padding-bottom: 4rem

		display: flex
		justify-content: space-between