@import "/styles/values/all"

.block
	display: flex
	flex-direction: column

	.colors
		flex: 1 1 auto
		
	.colorMenu
		flex: 0 0 auto
		@include inlayed
		width: fit-content
		margin: $pageSubContentSpacing auto 0 auto