@import "~/assets/style/values.scss";

.index-page {

	.introducer {
		$shadowHorizontalOffset: 0;
		$shadowVerticalOffset: 4px;
		$shadowBlur: 0;
		$shadowColor: rgba(30, 30, 30, 0.35);
		$color: $textColorOnDark;
		
		width: 100%;
		height: 80vh;
		background: #f2f2f2;
		background: url("/images/Silence Inn Tinted R3.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		display: flex;

		.branding {
			width: 100%;
			align-self: center;

			h1 {
				color: $color;
				text-align: center;
				font-size: $fontSizeHeadingExtreme;
				margin-bottom: 15px;
				text-transform: uppercase;
				text-shadow: $shadowHorizontalOffset $shadowVerticalOffset $shadowBlur $shadowColor;
			}

			.tagline {
				text-align: center;
				font-size: $fontSizeTaglineDefault;
				color: $color;
				text-shadow: $shadowHorizontalOffset ($shadowVerticalOffset * 0.5) $shadowBlur $shadowColor;
			}
		}
	}

}

// Box Couple

.box-couple {
	$boxCoupleLight: #fafafa;
	$boxCoupleLightText: #f0f0f0;
	$boxCoupleDark: rgb(170, 104, 255);
	$boxCoupleDarkText: $textColor;
	
	width: 100%;
	display: flex;
	margin: 0 0 50px 0;

	> div {
		flex: auto;
		padding: 120px 80px;
		max-height: 100%;
		box-sizing: border-box;
	}

	> div:first-child {
		background: $boxCoupleDark;
		color: $boxCoupleLightText;
		flex-basis: 60%;
		padding-right: 200px;
		padding-left: 80px;
	}

	> div:last-child {
		align-self: center;
		background: $boxCoupleLight;
		color: $boxCoupleDarkText;
		flex-basis: 40%;
		height: 70%;
		transform: translateX(-100px);
	}

	// Alternating Display

	&:nth-child(even) {
		flex-direction: row-reverse;

		> div:first-child {
			padding-right: 80px;
			padding-left: 200px;
			z-index: 2;
		}
	
		> div:last-child {
			transform: none;
			z-index: 1;
		}
	}
}