@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/blip-element.scss";
@import "~/assets/style/life-kind-colors.scss";

.index-page {

	.introducer {
		$shadowHorizontalOffset: 0;
		$shadowVerticalOffset: 4px;
		$shadowBlur: 0;
		$shadowColor: rgba(30, 30, 30, 0.35);
		$color: $textColorOnDark;
		
		width: 100%;
		height: 80vh;
		margin-bottom: 75px;

		background: #f2f2f2;
		background: url("/images/Silence Inn Tinted R3.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		display: flex;

		.branding {
			width: 100%;
			align-self: center;

			h1 {
				color: $color;
				text-align: center;
				font-size: $fontSizeHeadingExtreme;
				text-transform: uppercase;
				text-shadow: $shadowHorizontalOffset $shadowVerticalOffset $shadowBlur $shadowColor;
				margin-bottom: 15px;
			}

			.tagline {
				text-align: center;
				font-size: $fontSizeTaglineDefault;
				color: $color;
				text-shadow: $shadowHorizontalOffset ($shadowVerticalOffset * 0.5) $shadowBlur $shadowColor;
			}
		}
	}

	.showcases {
		margin-bottom: 75px;

		.leader {
			text-align: center;
			color: $textColorVeryLight;
			margin-bottom: 25px;
		}

		> .work-showcase {
			.image-holder {
				background: rgb(117, 241, 214);
				width: 100%;
				height: 275px;
				margin-bottom: 15px;
			}

			.item-data {
				$interItemSpacing: 55px;
				$blipSize: 12px;
				$blipPadding: 7px;
				$childDividerSpacing: 15px;

				display: flex;

				> * {
					flex: 0 auto;
				}

				.title {
					margin-right: $interItemSpacing;
				}

				.blip {
					padding-top: 3px;
					padding-right: $blipPadding;

					@include blipElement($blipSize);
				}

				.format, .contents {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.format {
					&:after {
						content: "|";
						padding: 0 $childDividerSpacing;
					}
				}
			}
		}
	}

}