@import "/styles/values/all"
@import "/styles/base/accessibility"
	
.header
	.inlay
		@include inlayed

		@include breakpoint($anyDesktop)
			padding-top: 1rem
			padding-bottom: 1rem
			height: 8rem

		@include breakpoint($anyMobile)
			padding-top: 0.35rem
			padding-bottom: 0.35rem

		display: flex
		justify-content: space-between
		box-sizing: border-box

		.brand
			@include breakpoint($anyMobile)
				display: none

			.title
				@include titleFont
				font-size: 2.6rem
				padding: 0.2rem 0

			.descriptors
				@include elementAccentedFont
				font-size: 0.8rem
				color: $textColorSubFaded
				padding: 0.2rem 0

		.navigation
			margin: 0.5rem 0
			width: 16.25rem

			@include breakpoint($anyMobile)
				margin: 0.4rem auto
				width: 24rem

			.navigationItem
				@include elementAccentedFont
				font-size: $pageNavigationFontSize

				@include breakpoint($anyMobile)
					font-size: $pageNavigationFontSizeMobile

				a
					position: relative

					&::after
						@include extendedInteractiveArea

				&.active
					opacity: $activeElementFadeOpacity

			ol
				display: flex
				justify-content: space-between
				