@import "/styles/values/fonts"
@import "/styles/values/colors"
@import "/styles/values/spacing"
@import "/styles/base/accessibility"
	
.header
	.inlay
		@include inlayed
		height: 8rem
		padding: 1rem 0

		display: flex
		justify-content: space-between
		box-sizing: border-box

		.brand
			.title
				font-family: $headingFont
				font-weight: 800
				font-size: 2.6rem
				padding: 0.2rem 0

			.descriptors
				font-family: $headingFont
				font-weight: 300
				font-size: 0.8rem
				color: $textColorFaded
				padding: 0.2rem 0

		.navigation
			margin: 0.5rem 0
			width: 260px

			.navigationItem
				font-family: $headingFont
				font-size: 1.0rem

				a
					position: relative

					&::after
						@include extendedInteractiveArea

			ol
				display: flex
				justify-content: space-between
				