@import "/styles/values/all"

.workTitle
	@include inlayed

	$interContentSpacing: 4rem
	$interSubContentSpacing: 1.4rem

	> header
		h1
			@include headingFont
			font-size: $pageHeadingFontSize
			text-align: center

			@include breakpoint($anyMobile)
				font-size: $pageHeadingFontSizeMobile

	> main
		margin-top: $interContentSpacing

		.link
			display: flex
			width: fit-content
			margin: 0 auto
			align-items: center
			justify-content: space-around

			.tag
				margin-right: 1rem
				flex: 0 0 auto
				
			.description
				flex: auto
				line-height: 1.5

		.abstract
			text-align: center
			max-width: 29rem
			margin: $interSubContentSpacing auto 0 auto

			p
				@include listMargin($descriptionParagraphSpacing)

			a
				text-decoration: underline

	@include breakpoint($anyMobile)
		&.defaultAppearance
			> main .link

				display: block
				width: 100%

				.tag
					margin: 0 auto

				.description
					margin: 0.7rem auto 0 auto
					max-width: 68%
					text-align: center