@import "/styles/values/all"

.workTitle
	@include inlayed

	$interContentSpacing: 4rem
	$interSubContentSpacing: 1.4rem

	> header
		h1
			font-family: $headingFont
			font-weight: 700
			font-size: $pageHeadingFontSize
			text-align: center

			@include breakpoint($anyMobile)
				font-size: $pageHeadingFontSizeMobile

	> main
		margin-top: $interContentSpacing

		.link
			display: flex
			width: fit-content
			margin: 0 auto
			align-items: center
			justify-content: space-around

			@include breakpoint($anyMobile)
				display: block
				width: 100%

			.tag
				margin-right: 1rem
				flex: 0 0 auto

				@include breakpoint($anyMobile)
					margin: 0 auto
				
			.description
				margin-bottom: 0.1rem
				flex: auto
				line-height: 1.5

				@include breakpoint($anyMobile)
					margin: 0.7rem auto 0 auto
					max-width: 68%
					text-align: center

		.abstract
			text-align: center
			max-width: 29rem
			margin: $interSubContentSpacing auto 0 auto

			p
				@include listMargin($descriptionParagraphSpacing)