@import "~/assets/style/values.scss";

.text-quote-block {

	p {
		padding: 0 25%;
		margin: 0;
		text-align: center;
		font-style: italic;
		font-size: $fontSizeLabelBold;
		color: $textColorLight;
		line-height: $textLineHeightParagraphBold;
	}

}