@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/blip-element.scss";
@import "~/assets/style/life-kind-colors.scss";

.life-page {
	// Values

	$blipSize: 14px;
	$blipPadding: 10px;
	$pageInsetHorizontal: $insetHorizontal - $blipSize;

	// Life Events Filter

	.life-events-filter {
		$filterBlipSize: $blipSize;
		$filterBlipPadding: 7px;
		$filterInterItemSpacing: 25px;

		display: flex;
		margin-bottom: 50px;

		& > div {
			display: flex;

			margin-right: $filterInterItemSpacing;
			cursor: pointer;
			user-select: none;

			> * {
				flex: 0 auto;
			}

			.blip {
				padding-right: $filterBlipPadding;
				padding-top: 4px;
				@include blipElement($filterBlipSize);
			}
		
			.name {
				font-size: $fontSizeLabelDefault;
				font-weight: 500;
			}
		}
	}

	// Life Events Header

	.life-events-header {
		margin-bottom: 25px;

		.details {
			> div {
				cursor: default;
				user-select: none;

				span {
					color: $textColorVeryLight;
				}

				.sort-switch {
					$size: 15px;

					display: inline-block;
					box-sizing: border-box;
					padding-left: 4px;
					visibility: hidden;
					
					svg {
						position: relative;
						top: 2px;
						height: $size;
						width: $size;
					}
				}

				&.sortable {
					cursor: pointer;
				}

				&.active {
					.sort-switch {
						visibility: visible;
					}
				}

				&.reversed {
					.sort-switch svg {
						transform: rotateZ(180deg);
					}
				}
			}
		}
	}

	// Life Events in Context

	ul.life-events {
		list-style: none;
		padding: 0;

		> li {
			$interItemSpace: 20px;
			margin-bottom: $interItemSpace / 2;
			padding-bottom: $interItemSpace / 2;
			border-bottom: 1px solid #f0f0f0;

			> .header {
				margin-bottom: $interItemSpace / 4;
			}
		}
	}

	// Individual Life Event

	.life-event, .life-events-header {
		width: 100%;

		> .header {
			display: flex;
			margin-bottom: 4px;

			> * {
				flex: auto;
			}

			.blip {
				flex: 0 $blipSize;
				height: min-content;
				padding-top: 4px;
				padding-right: $blipPadding;

				@include blipElement($blipSize);
			}

			.name {
				margin: 0;
				font-weight: 500;
				font-size: $fontSizeLabelDefault;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		> .details {
			display: flex;
			padding-left: $blipSize + $blipPadding;

			> * {
				flex: auto;
				width: 300px;
				padding-right: 25px;
				box-sizing: border-box;
			}

			.time {
				max-width: 160px;
			}

			.format {
				max-width: 180px;
			}

			.role {
				max-width: 240px;
			}

			// Text Content

			> div {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				font-family: "paralucent";
				font-weight: 300;
			}
		}
	}
}