@import "/styles/values/all"
	
$captionSpacing: 0.85rem

.figure
	position: relative

	.inlay
		background: $elementBackgroundColor

		.image
			display: block
			width: 100%
			height: auto

	figcaption
		margin-top: $captionSpacing
		color: $textColorFaded
		line-height: $captionLineHeight

		@include breakpoint($anyDesktop)
			font-size: $captionFontSize

		@include breakpoint($anyMobile)
			font-size: $captionFontSizeMobile
