@import "/styles/values/all"
	
$captionSpacing: 0.85rem

.figure
	position: relative

	.image
		display: block
		width: 100%
		height: auto

	figcaption
		margin-top: $captionSpacing
		font-size: $captionFontSize
		color: $textColorFaded

		@include breakpoint($anyMobile)
			font-size: $captionFontSizeMobile
			line-height: $captionLineHeight
