@import "/styles/values/all"

.menu	
	background: $elementBackgroundColor
	$menuItemSpacing: 3.5rem
	
	> nav
		width: fit-content
		margin: 0 auto
		@include inlayed

		> *
			display: inline-block
			@include horizontalListMargin($menuItemSpacing)