@import "/styles/values/all"

.menu	
	background: $elementBackgroundColor
	$menuItemSpacing: 1rem
	
	> nav
		width: fit-content
		margin: 0 auto
		
		@include breakpoint($anyDesktop)
			@include inlayed

		@include breakpoint($anyMobile)

		> *
			display: inline-block
			@include horizontalListMargin($menuItemSpacing)