@import "@common/styles/values/all"
@import "life-table-layout.sass"

.table
	@include table

.header
	> .item
		@include tableHeaderFont

		// Disclosure

		&.description
			@include breakpoint($desktop)
				display: none

		&.context, &.description
			@include breakpoint($tablet)
				display: none

		&.role, &.context, &.description
			@include breakpoint($phone)
				display: none