@import "/styles/values/all"
@import "life-table-layout.sass"

$inlaySpacing: 2.75rem
$interItemSpacing: 2.5rem
$interComponentSpacing: 0.9rem

$activeItemOpacity: 1.0
$inactiveDecorativeOpacity: 0.65
$inactiveLabelOpacity: 0.35

.filters
	padding: $inlaySpacing 0
	background: $elementBackgroundColor
	
	@include breakpoint($anyMobile)
		overflow: scroll

	.inlay
		@include inlayed
		display: flex

		.item
			display: flex
			cursor: pointer

			@include horizontalListMargin($interItemSpacing)

			.decorative
				@include size(1.2rem)

				align-self: center
				margin: 0 $interComponentSpacing $verticalOffset 0

				background: var(--accent-color, #d6d6d6)
				opacity: $inactiveDecorativeOpacity

			.label
				@include tableHeaderFont
				opacity: $inactiveLabelOpacity

			&.active
				.decorative
					opacity: $activeItemOpacity
				.label
					opacity: $activeItemOpacity