@import "/styles/values/all"
@import "/styles/base/accessibility"
@import "/styles/indicators/kind-colors"
@import "life-table-layout.sass"

.table
	@include table

.item
	position: relative
	height: 4.5rem

	@include breakpoint($anyMobile)
		height: 4rem

	button
		cursor: pointer
		font: inherit
		line-height: inherit

	.decorative
		$decorativeSpacing: 1.6rem
		$decorativeVerticalOffset: 0.3rem
		$decorativeSize: 0.75rem

		position: absolute
		top: $decorativeVerticalOffset
		left: -$decorativeSpacing
		height: $decorativeSize
		width: $decorativeSize
		
		background: #333
		@include tagBackgroundColors

	.inlay
		header
			@include tableItemHeadingFont
			
		main
			margin-top: $itemComponentSpacing

			> *
				@include tableItemFont

				box-sizing: border-box
				line-height: 1.5
				padding-right: 1rem

				@include ellipsizedLines(2)

				@include breakpoint($anyMobile)
					padding-right: 0.5rem

				.leader
					display: none

				&.description
					@include breakpoint($anyDesktop)
						display: none

				&.role, &.context, &.description
					@include breakpoint($anyMobile)
						display: none

	// Disclosure

	&.disclosed
		height: auto
		
		&::after
			$scale: 1.11
			$scaleAspect: 0.95

			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: -1.75rem
			z-index: -1
			
			background: #f8f8f8
			transform: scaleX($scale * $scaleAspect) scaleY($scale)

		.inlay 
			main
				flex-wrap: wrap
				margin-bottom: 2.5rem

				> *
					&.role, &.context, &.description
						@include notInlayed

						display: block
						flex-basis: 100%
					
					&.role
						margin-top: 0.75rem

					&.context, &.description
						margin-top: 0.3rem

					&.context, &.description
						@include breakpoint($anyDesktop)
							> div
								max-width: 44rem

						@include breakpoint($anyMobile)
							> div
								padding-right: 2.5rem

					&.disclosure
						margin: 0.75rem 0 0 0

					.leader
						display: inline