@import "/styles/values/all"
@import "life-table-layout.sass"

.button
	$interComponentSpacing: 0.9rem

	display: flex
	cursor: pointer

	&[disabled]
		cursor: unset
	
	.label
		@include tableHeaderFont
		width: min-content

	.mode
		@include size(1.2rem)

		align-self: center
		margin: 0 0 0 $interComponentSpacing

		&.modeNone
			fill: $spriteFillColorFaded
		
		&.modeAscending, &.modeDescending
			fill: $spriteFillColor