@import "~/assets/style/values.scss";
@import "~/assets/style/mixins/blip-element.scss";
@import "~/assets/style/life-kind-colors.scss";

.life-page {
	// Values

	$blipSize: 14px;
	$blipPadding: 10px;
	$pageInsetHorizontal: $insetHorizontal - $blipSize;

	// Life Events Filter

	.life-events-filter {
		$filterBlipSize: $blipSize;
		$filterBlipPadding: 7px;
		$filterInterItemSpacing: 25px;

		display: flex;
		margin-bottom: 50px;

		& > div {
			display: flex;

			margin-right: $filterInterItemSpacing;
			user-select: none;
			cursor: pointer;

			> * {
				flex: 0 auto;
			}

			.blip {
				flex: 0 $blipSize;
				padding-right: $filterBlipPadding;
				align-self: center;
				transform: translateY(-0.5px);
				
				@include blipElement($filterBlipSize);
			}
		
			.name {
				font-size: $fontSizeLabelDefault;
				font-weight: 500;
			}
		}
	}

	// Life Events Header

	.life-events-header {
		margin-bottom: 25px;

		.details {
			> div {
				cursor: default;
				user-select: none;

				span {
					color: $textColorVeryLight;
				}

				.sort-switch {
					$size: 15px;

					display: inline-block;
					box-sizing: border-box;
					padding-left: 4px;
					visibility: hidden;
					
					svg {
						position: relative;
						top: 2px;
						height: $size;
						width: $size;
						transform: rotateZ(180deg);
					}
				}

				&.sortable {
					cursor: pointer;
				}

				&.active {
					.sort-switch {
						visibility: visible;
					}
				}

				&.reversed {
					.sort-switch svg {
						transform: rotateZ(0deg);
					}
				}
			}
		}
	}

	// Life Events in Context

	ul.life-events {
		list-style: none;
		padding: 0;

		li {
			position: relative;

			.life-event {
				$interItemSpace: 20px;
				margin-bottom: $interItemSpace / 2;
				padding-bottom: $interItemSpace / 2;
				border-bottom: 1px solid #f0f0f0;
				cursor: pointer;
	
				.header {
					margin-bottom: $interItemSpace / 4;
				}
			}
		}
	}

	aside.life-event-card-holder {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;

		&.hidden {
			display: none;
		}

		display: flex;
		justify-content: space-around;

		.overlay {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(255, 255, 255, 0.75);
			cursor: pointer;
		}

		> .life-event-card {
			z-index: 2;
			flex: 0 auto;
			align-self: center;
			width: 500px;
			height: fit-content;
			cursor: default;
		}
	}

}