@import "/styles/values/fonts"
@import "/styles/values/colors"
@import "/styles/values/spacing"
	
.block
	@include inlayed

	img
		display: block
		width: 100%
		height: auto

	figcaption
		padding: $captionSpacing 0
		color: $textColorFaded
		@include inlayedText